@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear ;
    font-family: 'Baloo Bhai 2', cursive;
}

/* styling navbar */
header .logo{
    font-size: 1.9rem;
    font-weight: 800;
    text-decoration: none;
    color:blanchedalmond;
}
header .logo i{
    font-size: 2.2rem;
    font-weight: 600;
    margin-right: 1.5rem;

}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.5rem;
   
    
    /* background-color: black; */

}
header .navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
header .navbar li{
    margin-left: 2.6rem;

}
header .navbar li a{
    
    color: blanchedalmond;
    text-decoration: none;
    letter-spacing: 0.04rem;
    font-weight: 600;
    font-size: 24px;
}
header .logo i:hover{
    color: darkblue;
    border-bottom: .2rem solid darkblue;
    

}
header .navbar ul li a:hover{
    color: darkblue;
    border-bottom: .2rem solid darkblue;
    
}

/* styling navbar ends  */

/* styling home section  */

.home{
    padding: 20px 157px;
    display: flex;
    background: url(./assest/hallway-6578797_1920.jpg), no-repeat , center;
    background-color: black;
    color: white;
    height: 100vh;
    min-height: 500px;
}
.home .maxwidth{
    
    margin: auto 0 auto 40px;
    
}
.home .home-content .text-1{
    justify-content: center;
    font-size: 27px;
    align-items: center;
}
.home .home-content .text-2{
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    margin: -3px;
}

.btn1{
    background: lightcoral;
    color: gray;
    text-align: center;
    margin: 7px;
    padding: 12px 28px;
    font-size: 21px;
    border: 2px solid black;
    border-radius: 9px;
}
.btn2{
    background: lightblue;
    color: gray;
    text-align: center;
    margin: 7px;
    font-size: 13px;
    border: 2px solid black;
    border-radius: 9px;
}
.btn3{
    color: gray;
    text-align: center;
    margin: 7px;
    padding: 10px 22px;
    font-size: 12px;
    border: 2px solid black;
    border-radius: 9px;
}
.btn1 p {
    text-align: center;
    font-size: 10px;
}
.btn2 p {
    text-align: center;
    font-size: 10px;
}
button:hover{
    background-color: burlywood;
    color: brown;
}

/* styling welcome  */
.welcome{
    display: flex;
    color:black;
    height: 100vh;
    min-height: 500px;
   
}

.welcome .zippy{
    font-weight: 300;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
    
}

.welcome .text-3{
    color: gray;
    margin: 6.5rem;
    font-size: 27px;
    font-weight: 600;
    align-items: center;
    
}
.welcome .row .image{
    box-shadow:0 5px 10px rgba(241, 222, 222, 0.6) ;
     text-align: center;
     flex: 1 1 35rem;
}
.welcome .row .image img{
    box-shadow:0 5px 10px rgba(241, 222, 222, 0.6) ;
    margin: -19rem;
    width: 17rem;
    transition: .3s;
    cursor: pointer;
    opacity: 0.6;
    mix-blend-mode: luminosity;
    margin-left: 19rem;
}
#services{
    margin: 40px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
#services .text{
    text-align: center;
    align-items: center;
}
#services .text:hover{
    color: rgb(255, 223, 205);
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}
#services .box img:hover{
    cursor: pointer;
    
}
#services .box:hover{
    transform: scale(1.02);
}


/* styling project */
.project{
    margin-top: 20.5rem;
    background:linear-gradient(45deg,blueviolet,lightgreen ) ;
    padding: 15px 9px;
    padding-bottom: 100px;
}
.project .title{
    text-align: center;
    padding-bottom: 19px;
    color: #fff;
    font-size: 34px;
    text-shadow:  0 5px 10px rgba(0,0,0,.2) ;
}
#project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 1px;
    overflow: hidden;
}

#project-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background:#c0bdbd;
    text-align: center;
    padding: 30px 20px;


}

#project-container .box img{
    height: 100px;

}

#project-container .box img h3{
    color: #444;
    font-size: 22px;
    padding: 10px 0;


}

#project-container .box  p{
    color: #777;
    font-size: 15px;
    line-height: 1.8;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;

}

#project-container .box:hover{
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.2);
    
}
 /* price table section styling  */
.price-table{
    background:linear-gradient(45deg,rgb(53, 183, 223),rgb(183, 223, 91)) ;
    padding: 55px 70px;
    font-size: 23px;
}
.price-table .title{
    color: black;
    text-align: center;
   
}
#price {
    margin: 40px;
    display: flex;
    
}
#price .box{
    
    padding: 23px 18px;
    margin: 2px 40px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    text-align: center;

}
#price .box .text{
    font-size: 28px;
    font-weight: 600;
   
}
#price .box .subheading{
    color:dimgray;
    font-size: 34px;
    text-shadow:  0 5px 10px rgba(0,0,0,.2) ;
}
#price .box  p{
   color: darkblue;
   line-height: 50px;

}
#price .box:hover{
    cursor: pointer;
    transform: scale(1.02);
}
#price .box .text:hover{
    cursor: pointer;
    transform: scale(1.03);
    color: darksalmon;
}
/* video projects styling */
.video-projects{
    background:#1d89c7 ;
    padding: 55px 70px;
    font-size: 23px;
}
.video-projects .title{
    text-align: center;
    font-size: 30px;
    color: black;
    padding-bottom: 19px;
    text-shadow:  0 5px 10px rgba(0,0,0,.2) ;
    font-weight: 600; 
}
#video{
    display: flex;
    margin: 40px;
}
#video .box{
    padding: 12px 18px;
    overflow: hidden;
}
#video .slider{
    text-shadow:  0 5px 10px rgba(0,0,0,.2) ;
}
#video .box:hover{
    transform: scale(1.02);
    cursor: pointer;
}
/* team styling */
i{
    cursor: pointer;
}
#team {
    background: linear-gradient(37deg ,lightblue ,yellow);
    
  }
#team .container h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 26px;
  }
#team .container .team-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
  }
#team .container .team-wrapper .team-card {
    text-align: center;
    box-shadow: 3px 3px 3px#f2f2f2, -3px -3px 3px #f2f2f2;
    
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  section#team .container .team-wrapper .team-card:hover {
    transform: translateY(-30px);
  }
#team .container .team-wrapper .team-card .img-div img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    z-index: -1;
    overflow: hidden;
  }
#team .container .team-wrapper .team-card .icons {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: 144px;
    z-index: -10;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  
#team .container .team-wrapper .team-card:hover .icons {
    z-index: 10;
  }
  
#team .container .team-wrapper .team-card .icons i {
    font-size: 25px;
    color: #fff;
  }
  
#team .container .team-wrapper .team-card .icons .fa-twitter {
    margin: 0 10px;
  }
  
/* team styling ends  */
/* NEWSLETTER STYLING */
.news{
    background: url(./assest/meeting-594091_1920.jpg) no-repeat , center;
    height: 50vh;
}
.newsletter .title{
    text-align: center;
    padding-bottom: 19px;
    color: #f2f2f2;
    font-size: 34px;
    text-shadow:  0 5px 10px rgba(0,0,0,.2) ;
}
.newstext{
    display: flex;
    flex-direction: column;
    padding:40px 500px ;
    gap: 14px;
}
.newstext input{
    margin-left: 50px;
    text-align: center;
    padding: 11px 87px;
}
.newstext .btn5{
    margin: 10px;
    margin-left: 215px;
    padding: -1px 1px;
    width: 81px;
    color: gray;
    text-align: center;
    font-size: 13px;
    border-radius: 9px;
}
.newstext .btn6{
    margin: -48px;
    margin-left: 309px;
    padding: -1px 1px;
    width: 81px;
    color: gray;
    text-align: center;
    font-size: 13px;
    border-radius: 9px;
}
.newstext :hover{
    cursor: pointer;
    
}

/* blog styling */
.blog{
    font-weight: 600;
    padding: 55px 70px;
    font-size: 23px;
}
.blog .title{
    color: black;
    text-align: center;
    
}
#blog{
    margin: 30px;
    display: flex;
}
#blog .box{
    text-align: center;
    padding: 20px 18px;
}
#blog .box img{
    height: 80px;
}
#blog .text{
    font-size: 20px;
}
#blog .box p{
    font-size: 12px;
}
#blog .box  .btn3{
    color: gray;
    text-align: center;
    background-color:blueviolet;
    margin: 7px;
    
    font-size: 21px;
    border: 2px solid black;
    border-radius: 9px;
}
/* contact styling */
.contact{
   
    font-weight: 600;
    
    font-size: 23px;
}
.contact .title{
    text-align: center;
    font-size: 40px;
}

.form-group{
    background: linear-gradient( 45deg , #438646, limegreen);
    margin: 8px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}
.form-group .image{
    text-align: center;
    flex: 1 1 35rem;
}
.form-group  .image img{
    
    margin: 4rem auto;
    width: 38rem;
    border-radius: 5%;
    box-shadow: 0 5px 10px rgb(0 0 0 / 60%);
    mix-blend-mode: luminosity;
    transition: .3s;
    cursor: pointer;
}
.container{
    flex: 1 1 45rem;
    padding: 3rem;
}
.container input{
   
    margin: 49px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 16px 198px;
    font-size: 21px;
    border: 2px solid black;
    border-radius: 9px;
    
}
.container input:hover{
    color: rgb(19, 17, 17);
    cursor: pointer;
    transform: scale(1.02);
}
.container .btn{
    color: gray;
    text-align: center;
    background-color: #fff;
    margin: 49px;
    padding: 16px 198px;
    font-size: 21px;
    border: 2px solid black;
    border-radius: 9px;
}
.container .btn:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.2s;
}
/* footer section  */
#footer {
    padding-top: 150px;
    height:auto;
}
#footer .container .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}
#footer .container .footer-wrapper .footer-card h3 {
    margin-bottom: 20px;
}
#footer .container .footer-wrapper .footer-card i {
    font-size: 25px;
    margin-right: 30px;
    margin-bottom: 20px;
}
#footer .container .footer-wrapper .footer-card p {
    transition: all 0.3s ease-in-out;
}
#footer .container .footer-wrapper .footer-card p:hover {
    color: #f2ce0b;
}